@media screen and (max-width: 576px) {
  nav .navbar-flex {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  nav .navbar-flex .navigation-brand {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    order: 1;
  }

  nav .navbar-flex .navigation-social-media {
    width: 100%;
    justify-content: center;
    gap: 30px;
    order: 2;
    margin: 10px 0;
  }

  header .sm-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  nav .navbar-flex .navigation-links {
    /* background: cyan; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    order: 2;
    padding: 8px 0;
  }

  nav .navbar-flex .navigation-links ul {
    /* background: red; */
    padding: 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  nav .navbar-flex .navigation-links ul li {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav .navbar-flex .navigation-links ul li a {
    text-decoration: none;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 14px;
    color: var(--dark-100);
  }



  /* HERO */
  #hero .reversing {
    display: flex;
    flex-direction: column-reverse !important;
    /* background-color: red; */
  }

  #hero .hero-text {
    margin-top: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #hero .hero-text h1 {
    line-height: 46px;
    margin-bottom: 20px;
    font-size: 34px;
    text-align: center;
  }
  
  #hero .hero-text p {
    line-height: 40px;
    max-width: 590px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 36px;
  }
  
  #hero .hero-text .btn-hubungi {
    width: 60%;
  }




  #hero .hero-banner {
    /* background-color: aquamarine; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 100px 0 180px 0;
  }
  
  #hero .hero-banner img {
    /* background: #000; */
    width: 400px;
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
