/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;700&display=swap');

/* #E1E1E1, #AFAFAF, #808080, #545454 and #2B2B2B */
/* My CSS Varibles */
:root {
  --lora: 'Lora', serif;
  --montserrat: 'Montserrat', sans-serif;
  --opensans: 'Open Sans', sans-serif;

  /* COLORS */
  --dark-100: #2B2B2B;
  --dark-75: #545454;
  --gray-100: #808080;
  --gray-50: #AFAFAF;
  --gray-25: #E1E1E1;
}

body {
  font-family: var(--montserrat);
}

nav {
  width: 100%;
  padding: 12px 0;
}

nav .navbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 100%;
  flex-wrap: wrap;
}

nav .navbar-flex .navigation-brand {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

nav .navbar-flex .navigation-brand a {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-100);
}

nav .navbar-flex .navigation-links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .navbar-flex .navigation-links ul {
  margin: 0 auto;
  width: auto;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 28px;  
}

nav .navbar-flex .navigation-links ul li a {
  text-decoration: none;
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 16px;
  color: var(--dark-100);
}

nav .navbar-flex .navigation-social-media {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

nav .navbar-flex .navigation-social-media a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--dark-100);
  position: relative;
}

nav .navbar-flex .navigation-social-media a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MAIN - Hero Content */
#hero {
  /* background: coral; */
  padding: 124px 4px;
}

#hero .hero-text {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

#hero .hero-text h1 {
  line-height: 54px;
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 600;
}

#hero .hero-text p {
  max-width: 590px;
  font-size: 20px;
  margin-bottom: 36px;
}

#hero .hero-text .btn-hubungi {
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 40%;
  height: 100%;
  padding: 14px 20px;
  border-radius: 24px;
  font-weight: 500;
  background-color: var(--dark-100);
}

#hero .hero-banner {
  /* background-color: aquamarine; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

#hero .hero-banner img {
  width: 540px;
  height: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Services Style */
#services {
  padding: 124px 0 52px 0;
  background: #F1F1F1;
}

#services .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -50px;
}

#services .heading h2 {
  font-size: 40px;
  font-family: var(--opensans);
  font-weight: 700;
  color: var(--dark-100);
}

#services .heading p {
  margin-top: -5px;
  font-size: 22px;
  font-family: var(--opensans);
  font-weight: 400;
  color: var(--dark-75);
}

#services .layanan {
  width: 100%;
  height: auto;
  padding: 40px 8px 0 8px;
  /* background-color: coral; */
}

#services .layanan .card-service {
  width: 412px;
  height: 506px;
  background-color: #fff;
  box-shadow: 4px 6px 16px 2px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  overflow: hidden;
}

#services .layanan .card-service .c-head {
  width: 100%;
  height: 218px;
  background-color: #808080;
}

#services .layanan .card-service .c-head img {
  object-fit: cover;
  object-position: center;
}

#services .layanan .card-service .c-body {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  /* background-color: lightgreen; */
}

#services .layanan .card-service .c-body h3 {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  margin: 12px 0 20px 0;
}

#services .layanan .card-service .c-body p {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
}


/* Works Style */
#works {
  padding: 124px 0 52px 0;
  background: #E1E1E1;
}

#works .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -50px;
}

#works .heading h2 {
  font-size: 40px;
  font-family: var(--opensans);
  font-weight: 700;
  color: var(--dark-100);
}

#works .heading p {
  margin-top: -5px;
  font-size: 22px;
  font-family: var(--opensans);
  font-weight: 400;
  color: var(--dark-75);
}

#works .my-works {
  width: 100%;
  height: auto;
  background-color: lightsalmon;
  padding: 30px 0;
}

#works .my-works .image-parent {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: #fff;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}




/* ETC */
.montserrat {
  font-family: var(--montserrat) !important;
}

.opensans {
  font-family: var(--opensans) !important;
}

.lora {
  font-family: var(--lora) !important;
}